
body{
	font-family: 'Times New Roman', Times, serif;
}

header{
	display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 10%;
    background-color: aqua;
}

.navlinks{
	list-style: none;
	display: flex;
}

.navlinks li{
	padding: 25px;
}


